{% extends 'blog/base.html' %}

{% block content %}

<!-- Page Header-->
<header class="p-5 masthead">
    <div class="container position-relative px-10 px-lg-10">
        <div class="justify-content-center">
            <div class="mx-auto p-auto mt-4" style="width: 440px;">
                <div class="post-heading" style="display: flex; text-align: center; width: 490px">
                    <h1>Update blog post</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-outline-dark">Update</button>
                    </form>
                </div>        
            </div>
        </div>
    </div>
</article>

{% endblock %}